.about {
  display: grid;
  grid-template-rows: 15% 78%;
  grid-template-columns: 2% 20% 60% 1fr;
  align-items: center;
  grid-row-gap: 2%;
  grid-column-gap: 2%;

  background: url(/assets/img/about/clouds.svg);
  background-size: cover;
  width: 102%;
  background-color: #447695;
}

.about__image {
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  align-self: start;
}

.about__title {
  grid-column: 3;
  grid-row: 1;
  line-height: 2em;
  font-family: "SanghaKali", sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  font-style: italic;
  color: rgb(191, 230, 239);
  place-self: start;
  margin-left: 10%;
}
.about__text {
  grid-column: 3;
  grid-row: 2;
  font-style: italic;
  color: rgb(191, 230, 239);
}
.about__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-color: rgb(215, 237, 250, 0.5);
  border-radius: 10px;
  border: 5px solid #fff;
  box-shadow: 2px 1px 5px #999494;
}
