@font-face {
  font-family: "SanghaKali";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/font/SanghaKali-Regular.woff2") format("woff2"),
    url("/assets/fonts/font/SanghaKali-Regular.woff") format("woff");
}

body {
  background-color: #447695;
  font-size: 22px;
  line-height: 1.7em;
  font-style: italic;
}
* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  padding: 15px;
  background-color: #447695;
  color: #bfe6ef;
  font-size: 36px;
  font-weight: 200;
  line-height: 1.4;
}
li a:hover {
  color: #eebd6b;
  text-decoration: none;
}

.header__navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.hero-section {
  height: 95vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.header__logo {
  color: #bfe6ef;
  font-size: 40px;
  font-weight: 200;
  line-height: 1.4;
  text-shadow: 5px 5px 20px #04082e;
  font-family: "SanghaKali", sans-serif;
  position: absolute;
  left: 50px;
  padding: 15px;
}
.hero-section__image {
  height: 100%;
  width: 100vw;
  position: absolute;
  z-index: 1;
}
.hero-section__image img {
  width: 100%;
  transform-origin: top;
  animation: grow infinite;
  animation-duration: 100s;
  animation-direction: alternate;
  animation-timing-function: ease;
}
@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.4);
  }
}

.section__legend {
  display: inline-block;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-height: 50vh;
  width: 50vw;
  text-align: center;
  margin-top: 40vh;

  color: #bfe6ef;
  font-style: italic;
}

.body__h2_uppercase {
  line-height: 2em;
  font-family: "SanghaKali", sans-serif;
  font-size: 66px;
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
  font-weight: 400;
  margin: 50px;
}

.servises {
  background-color: #04082e;
  text-align: center;
  color: #bfe6ef;
}
.footer{
  text-align: center;
  font-family: sans-serif;
  font-style: italic;
  color: #bfe6ef;
  font-size: 15px;
  padding-top: 15px;
  height: 250px;
  text-shadow: 5px 5px 20px #04082e;
}
.footer-link{
  color: #bfe6ef;
  text-decoration: none;
  font-family: sans-serif;
  font-style: italic;
  color: #bfe6ef;

}
.logo_footer{
  font-family: "SanghaKali", sans-serif;
  font-size: 40px;
  padding-top: 5%;
  text-shadow: 5px 5px 20px #04082e;
}
ol a:hover {
  color: #eebd6b;
  text-decoration: none;
}