@font-face {
  font-family: "SanghaKali";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/font/SanghaKali-Regular.woff2") format("woff2"),
    url("/assets/fonts/font/SanghaKali-Regular.woff") format("woff");
}

body {
  background-color: #447695;
}
h2 {
  font-family: "SanghaKali";
  font-size: 3em;
  line-height: 2em;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
}

.main-section__block {
  display: inline-block;
  width: 100vw;
  height: 100%;
  margin-bottom: 50px;
}
.main-section__press-reviews {
  color: #bfe6ef;
}
.main-section__photo-gallery {
  background-color: #bfe6ef;
  color: #04082e;
}
.main-section__video-player {
  background-color: #04082e;
  color: #bfe6ef;
}
.main-section__partners {
  color: #bfe6ef;
}

.main-section__partner-logos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: stretch;
  column-gap: 7px;
  row-gap: 5px;
  margin-bottom: 50px;
  margin-top: 40px;
}

.main-section__partner-logo {
  background: #ffffff;
  border-radius: 7px;
  padding: 22px;
}

.main-section__logo {
  width: 100%;
  height: 70px;
}

.main-section__press-reviews_para {
  margin: 20px;
  padding: 8px;
  font-style: italic;
  font-size: 20px;
  border: 1px solid #bfe6ef;
  box-shadow: 1px 1px 10px 5px #04082e;
}

.main-section__press-reviews_para1 {
  color: #04082e;
  border: 1px solid #04082e;
}
